name: Solidity CI

on:
  pull_request:
  push:
    branches: [main, dev*]

jobs:
  build:
    name: Forge Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Build contracts
        run: forge build

      - name: Check contract sizes
        run: forge build --sizes
