name: Docs Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-docs:
    name: Build MkDocs documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install MkDocs dependencies
        run: pip install mkdocs-material mkdocs-git-revision-date-localized-plugin mkdocs-redirects mkdocs-get-deps

      - name: Build documentation
        run: mkdocs build --clean
